{% extends "base.html" %}

{% block title %}Dashboard Personale{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">Benvenuto, Dott. {{ nome }}!</h2>

    <div class="list-group">

        <a href="/gestioneprestazioni" class="list-group-item list-group-item-action">
            🩺 Gestione prestazioni
        </a>

        <a href="{% url 'logout' %}" class="list-group-item list-group-item-action text-danger">
            🔓 Logout
        </a>
    </div>
</div>
{% endblock %}
